		*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		.header {
			width: 100%;
			height: 0.88rem;
			padding-top: 0.24rem;
			background-image: linear-gradient(90deg, #4579ff 0%, #42fffd 100%);
		}
		.header>a>img{
			display: block;
			width: 0.3rem;
			height: 0.4rem;
			margin-left: 0.24rem;
		}
		.top>img {
			display: block;
			width: 100%;
			height: 5rem;
		}
		.top1 {
			width: 100%;
			height: 2.74rem;
			background-color: white;
			padding: 0.24rem;
			position: relative;
		}
		.top1 > .im{
			position: absolute;
			right: 0.24rem;
			bottom: -0.04rem;
		}
		.zi {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			text-align: center;
		}
		.top1>.zi>p {
			font-size: 0.2rem;
		}
		.top1>.zi>p:first-child {
			display: inline-block;
			width: 1.25rem;
			height: 0.5rem;
			color: white;
			line-height: 0.5rem;
			font-size: 0.26rem;
			border: none;
			border-radius: 0.25rem;
			background-image: linear-gradient(90deg, #ffe445 0%, #ffb441 100%);
		}
		.top1>.zi>p:nth-child(2) {
			font-size: 0.26rem;
			margin-left: 0.1rem;
			line-height: 0.5rem;
			font-weight: bold;
		}
		.top1>.zi>p:nth-child(3) {
			font-size: 0.14rem;
			line-height: 0.5rem;
			margin-left: 1.35rem;
			color: lightgrey;
		}
		.top1>.zi>p:nth-child(4) {
			font-size: 0.4rem;
			margin-top: 0.24rem;
			color: lightcoral;
		}
		.top1>.zi>p:nth-child(5) {
			font-size: 0.14rem;
			margin-top: 0.4rem;
			margin-left: 0.05rem;
			margin-right: 5rem;
			color: lightgrey;
		}
		.top1>.zi>p:nth-child(6) {
			color: #737373;
			margin-right: 2rem;
		}
		.top1>.zi>p:nth-child(7) {
			color: #737373;
			margin-right: 4rem;
		}
		.top1>.zi>p:nth-child(8) {
			color: #727272;
			font-size: 0.26rem;
			font-weight: 600;
		}
		.xian {
			width: 100%;
			height: 0.4rem;
			background-color: #e5e5e5;
		}
		.cainixihuan {
			width: 100%;
			text-align: center;
		}
		.cainixihuan>.caini {
			margin-top: 0.24rem;
			width: 100%;
			height: 0.4rem;
			display: flex;
			justify-content: center;
		}
		.cainixihuan>.caini>img {
			display: block;
			width: 1.6rem;
			height: 0.11rem;
			margin-top: 0.15rem;
		}
		.cainixihuan>.caini>span {
			font-size: 0.26rem;
			font-weight: normal;
			color: #000000;
			float: left;
			margin-left: 0.1rem;
			margin-right: 0.1rem;
		}
		.cailist>ul {
			width: 100%;
			height: 8rem;
			padding: 0 0.24rem;
			margin-top: 0.24rem;
		}
		.cailist>ul>li {
			list-style: none;
			width: 50%;
			height: 3.5rem;
			float: left;
			position: relative;
		}
		.cailist>ul>li>div {
			width: 100%;
			height: 100%;
		}
		.cailist>ul>li>div>img {
			display: block;
			width: 3.2rem;
			height: 2.36rem;
			margin: 0 auto;
		}
		.cailist>ul>li>div>div {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.cailist>ul>li>div>div>p {
			font-size: 0.24rem;
		}
		.cailist>ul>li>div>div>p:first-child {
			color: lightcoral;
			margin-left: 0.15rem;
			margin-top: 0.05rem;
			margin-right: 1.5rem;
		}
		.cailist>ul>li>div>div>p:nth-child(2){
			font-size: 0.3rem;
			margin-left: 0.15rem;
			color: red;
		}
		.cailist>ul>li>div>div>p:nth-child(3){
			font-size: 0.16rem;
			color: lightgrey;
			margin-top: 0.06rem;
			margin-left: 0.05rem;
		}
		.cailist>ul>li>div>div>div {
			position: absolute;
			bottom: 0;
			right: 0.15rem;
		}
		
		
		
		
		.footer {
			width: 100%;
			height: 1.01rem;
			background-color: red;
			position: fixed;
			bottom: 0;
		}
		.footer>.manjian {
			background-color: rgb(255,255,205);
			text-align: center;
			height: 30%;
			width: 100%;
			font-size: 0.14rem;
			color: lightgray;
		}
		.footer>.gou {
			width: 100%;
			height: 70%;
			position: relative;
		}
		.footer>.gou>img {
			width: 1rem;
			height: 1rem;
			position: absolute;
			top: -0.3rem;
			left: 0.24rem;
		}
		.footer>.gou {
			font-size: 0.2rem;
			text-align: center;
			line-height: 0.7rem;
			background-color: darkslategrey;
			color: white;
		}
		.footer>.gou>div {
			width: 20%;
			height: 100%;
			float: right;
			background-color: lawngreen;
			color: white;
			line-height: 0.7rem;
		}
		.footer>.gou>div>a{
			text-decoration: none;
			color: white;
		}