		* {
    		margin: 0;
    		padding: 0;
    		box-sizing: border-box;
    	}
    	.header {
    		width: 100%;
			height: 0.88rem;
			background-image: linear-gradient(90deg, #4579ff 0%, #42fffd 100%);
    	}
    	.header>div{
    		height: 0.88rem;
    		display: flex;
    		justify-content: space-between;
    		align-items: center;
    		padding-top: 0.2rem;
    		padding-left: 0.24rem;
    		padding-right: 0.24rem;
    		position: relative;
    	}
    	.position {
    		height: 0.5rem;
    	}
    	.position img {
    		width: 0.27rem;
    		height: 0.21rem;
    	}
    	.position>span {
    		float: left;
    		font-size: 0.3rem;
    		color: white;
    	}
    	.search {
    		width: 5.35rem;
    		height: 0.39rem;
    		background-color: #fefefe;
    		border-radius: 0.1rem;
    	}
    	.search a {
    		display: flex;
    		align-items: center;
    		text-decoration: none;
    		color: grey;
    		width: 100%;
    		height: 100%;
    		font-size: 0.2rem;
    	}
    	.search a img {
    		width: 0.3rem;
    		height: 0.3rem;
    	}
    	.neirong1 {
    		width: 100%;
    		height: 7.24rem;
    		padding-left: 0.24rem;
    		padding-right: 0.24rem;
    		padding-top: 0.18rem;
    	}
		.tu {
			width: 100%;
			height: 4rem;
			position: relative;
		}
		.neirong1>.tu>img {
			width: 100%;
			height: 4rem;
			display: block;
			border: none;
			border-radius: 0.2rem;
			position: absolute;
			top: 0;
			left: 0;
		}
		.lun>ul {
			margin-top: 3.7rem;
			width: 1.03rem;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			justify-content: space-between;	
		}
		.lun>ul>li {
			display: block;
			width: 0.29rem;
			height: 0.07rem;
			background-color: white;
			border: none;
			border-radius: 0.1rem;
		}
		.lun>ul>li>a {
			display: block;
			width: 0.29rem;
			height: 0.07rem;	
		}
		.lun>ul>li.hot {
			background-color: skyblue;
		}
		.mulu {
			width: 100%;
			height: 3rem;
		}
		.mulu>div {
			width: 100%;
			height: 100%;			
		}
		.mulu>div>ul {
			list-style: none;
			width: 100%;
			height: 100%;
			text-align: center;
		}
		.mulu>div>ul>li {
			width: 25%;
			height: 1.13rem;
			float: left;
			margin-top: 0.24rem;
		}
		.mulu>div>ul>li>a>img {
			width: 0.93rem;
			height: 1.13rem;
		}
		.huiwei {
			width: 100%;
			padding-left: 0.24rem;
    		padding-right: 0.24rem;
			height: 2.32rem;
			margin: 0.1rem auto;
		}
		.huiwei img {
			width: 100%;
			height: 2.32rem;
			display: block;
			border: none;
			border-radius: 0.2rem;
		}
		.sjtj {
			width: 100%;
			text-align: center;
		}
		.sjtj>div {
			width: 100%;
			height: 0.4rem;
			display: flex;
			justify-content: center;
		}
		.sjtj>div>img {
			display: block;
			width: 1.6rem;
			height: 0.11rem;
			margin-top: 0.15rem;
		}
		.sjtj>div>span {
			font-size: 0.26rem;
			font-weight: normal;
			color: #000000;
			float: left;
			margin-left: 0.1rem;
			margin-right: 0.1rem;
		}
		.catalog {
			width: 100%;
			padding-left: 0.24rem;
    		padding-right: 0.24rem;	
		}
		.catalog ul {
			list-style: none;
			width: 100%;
			height: 0.5rem;
			margin-top: 0.3rem;
			text-align: center;
		}
		.catalog>ul>li {
			width: 25%;
			height: 0.5rem;
			float: left;
		}
		.catalog>ul>li>a {
			display: block;
			text-decoration: none;
			color: #000000;
			font-size: 0.22rem;
		}
		.catalog>ul>li>a>img {
			width: 0.25rem;
			height: 0.15rem;
		}
		
		
		
		.list {
			width: 100%;
			height: 11.5rem;
			background-color: #dadada;
			overflow-y: auto;
		}
		.list>.listnr {
			width: 100%;
			height: 8rem;
			padding-left: 0.24rem;
			padding-right: 0.24rem;
			padding-top: 0.24rem;
			background-color: #dadada;
		}
		.listnr>ul {
			width: 100%;
			height: 100%;
			list-style: none;
		}
		.listnr>ul>li {
			width: 100%;
			height: 2.25rem;
			margin-bottom: 0.24rem;
			float: left;
		}
		.listnr>ul>li>div {
			width: 100%;
			height: 100%;
			background-color: white;
			border: none;
			border-radius: 3%;
			padding-left: 0.18rem;
			padding-top: 0.24rem;
			padding-bottom: 0.24rem;
			padding-right: 0.18rem;
		}
		.listnr>ul>li>div>.zuo {
			width: 25.2%;
			height: 100%;
			float: left;
		}
		.listnr>ul>li>div>.zuo>img {
			width: 100%;
			height: 82.5%;
		}
		.listnr>ul>li>div>.you {
			width: 74.8%;
			height: 100%;
			padding-left: 0.24rem;
			float: right;
			position: relative;
			position: relative;
		}
		.listnr>ul>li>div>.you>.mi{
			font-size: 0.28rem;
		}
		.listnr>ul>li>div>.you>.xing {
			width: 100%;
			height: 0.3rem;
			margin-top: 0.06rem;
		}
		.listnr>ul>li>div>.you>.xing>img {
			display: block;
			width: 1rem;
			height: 0.16rem;
			margin-right: 0.05rem;
			margin-top: 0.0375rem;
			float: left;
		}
		.listnr>ul>li>div>.you>.xing>span {
			font-style: normal;
			font-size: 0.2rem;
			color: rgba(0,0,0,0.4);
			float: left;
		}
		.qisong {
			width: 100%;
			height: 0.25rem;
			font-size: 0.2rem;
			color: rgba(0,0,0,0.4);
		}
		.qisong>div {
			width: 60%;
			float: left;
		}
		.qisong>span {
			width: 40%;
			text-align: right;
			float: right;
		}
		.manjian {
			width: 100%;
			height: 0.25rem;
			margin-top: 0.1rem;
		}
		.manjian>div {
			margin-left: 0;
			text-align: center;
			width: 100%;
			height: 0.25rem;
			float: left;
		}
		.manjian>div>a  {
			text-decoration: none;
			color: white;
			font-size: 0.2rem;
			display: block;
			width: 0.6rem;
			height: 0.25rem;
			line-height: 0.25rem;
			background-color: lightpink;
			margin-right: 0.03rem;
			float: left;
		}
		.manjian>div:last-child>p {
			font-size: 0.2rem;
			color: rgba(0,0,0,0.4);
			float: left;
		}
		.manjian>div:last-child>img {
			float: right;
			margin-top: 0.0875rem;
		}
		.zhekou {
			width: 100%;
			height: 0.25rem;
			margin-top: 0.1rem;
		}
		.zhekou>div {
			margin-left: 0;
			width: 100%;
			height: 0.25rem;
			text-align: center;
		}
		.zhekou>div>a  {
			text-decoration: none;
			color: white;
			font-size: 0.2rem;
			display: block;
			width: 0.6rem;
			height: 0.25rem;
			line-height: 0.25rem;
			background-color: lightpink;
			margin-right: 0.03rem;
			float: left;
		}
		.zhekou>div>p {
			font-size: 0.2rem;
			color: rgba(0,0,0,0.4);
			float: left;
		}
		.zhun {
			text-align: center;
			width: 1rem;
			height: 0.25rem;
			position: absolute;
			top: 0;
			right: 25%;
		}
		.zhun>a {
			font-size: 0.18rem;
			text-decoration: none;
			display: block;
			width: 1rem;
			height: 0.25rem;
			color: #0066ff;
			background-color: white;
			border: solid 0.01rem #79d4ff;
			border-radius: 0.05rem;
			line-height: 0.25rem;
		}
		.feng {
			text-align: center;
			width: 1rem;
			height: 0.25rem;
			position: absolute;
			top: 0;
			right: 0;
		}
		.feng>a {
			font-size: 0.16rem;
			text-decoration: none;
			display: block;
			width: 1rem;
			height: 0.25rem;
			color: white;
			line-height: 0.25rem;
			background-image: linear-gradient(90deg, #27cfff 0%, #4258ff 100%);
			border-radius: 0.05rem;
			
		}
		
		
		
		
		
		
		
		
		
		
		
		
		


		.footer {
			width: 100%;
			height: 1.01rem;
			background-color: white;
			position: fixed;
			bottom: 0;
		}
		.footer>ul {
			width: 100%;
			height: 1.01rem;
			list-style: none;
			text-align: center;
		}
		.footer>ul>li {
			width: 25%;
			height: 1.01rem;
			float: left;
		}
		.footer>ul>li>a{
			display: block;
			text-decoration: none;
		}
		.footer>ul>li>a>img{
			width: 0.42rem;
			height: 0.61rem;
			margin-bottom: 0.175rem;
		}
