		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		.header {
			 width: 100%;
			 height: 5rem;
			 padding-left: 0.24rem;
			 padding-right: 0.24rem;
			 padding-top: 0.4rem;
			 background-image: linear-gradient(90deg, #4579ff 0%, #42fffd 100%);
		}
		.header>.fanhui>a>img {
			display: block;
			width: 0.3rem;
			height: 0.4rem;
		}
		.dizhi {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.dizhi>p:first-child{
			font-size: 0.18rem;
			color: white;
			margin-left: 0.3rem;
			margin-right: 3rem;
		}
		.dizhi>p:nth-child(2){
			font-size: 0.3rem;
			margin-left: 0.3rem;
			color: white;
		}
		.dizhi>p:nth-child(3){
			display: inline-block;
			width: 0.3rem;
			margin-left: 0.2rem;
			margin-top: 0.1rem;
			margin-right: 2rem;
		}
		.dizhi>p:nth-child(3)>img {
			display: block;
		}
		.dizhi>p:nth-child(4) {
			font-size: 0.18rem;
			color: white;
			margin-left: 0.3rem;
		}
		.header>.songda {
			width: 100%;
			height: 1.76rem;
			background-color: white;
			border-radius: 0.2rem;
			margin-top: 0.24rem;
		}
		.shang {
			width: 100%;
			height: 50%;
			border-bottom: 0.01rem solid lightgrey;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.shang>p {
			font-size: 0.3rem;
			line-height: 1rem;
			color: lightcoral;
		}
		.shang>p:first-child{
			margin-left: 0.24rem;
			margin-right: 3rem;
			color: lightgrey;
		}
		.xia {
			width: 100%;
			height: 50%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.xia>p {
			font-size: 0.3rem;
			line-height: 1rem;
			color: lightcoral;
		}
		.xia>p:first-child{
			margin-left: 0.24rem;
			margin-right: 0.2rem;
			color: lightgrey;
		}
		.xia>p:nth-child(2){
			margin-right: 1.5rem;
		}
		.zhu {
			width: 93.6%;
			margin: 0 auto;
			height: 10rem;
			background-color: white;
			border-radius: 2%;
			margin-top: -1rem;
		}
		.zhu>ul {
			width: 100%;
			height: 100%;
			list-style: none;
		}
		.zhu>ul>li {
			 width: 100%;
			 height: 1.5rem;
			 border-top: 1px solid lightgrey;
			 padding-left: 0.24rem;
			 padding-bottom: 0.24rem;
			 padding-right: 0.24rem;
			 padding-top: 0.12rem;
		}
		.zhu>ul>li>.zuozuo {
			width: 30%;
			height: 100%;
			float: left;
		}
		.zhu>ul>li>.zuozuo>img{
			display: block;
			width: 1.86rem;
			height: 1.2rem;
		}
		.zhu>ul>li>.youyou {
			width: 70%;
			height: 100%;
			float: right;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.zhu>ul>li>.youyou>p {
			font-size: 0.3rem;
			color: lightcoral;
		}		
		.zhu>ul>li>.youyou>p:nth-child(3){
			text-align: right;
			font-size: 0.35rem;
		}
		.zhu>ul>li:first-child {
			height: 1.2rem;
			border: none;
		}
		.zhu>ul>li:first-child>p{
			font-size: 0.35rem;
			font-weight: 600;
			line-height: 1.2rem;
		}
		.zhu>ul>li:nth-child(5)>.hongbao {
			width: 40%;
			height: 100%;
			padding-top: 0.12rem;
			float: left;
			text-align: center;
			font-size: 0.3rem;
		}
		.zhu>ul>li:nth-child(5)>.xiaoji{
			width: 60%;
			height: 100%;
			text-align: center;
			float: right;
			padding-top: 0.12rem;
		}
		.zhu>ul>li:nth-child(5)>.xiaoji>p:first-child {
			font-size: 0.3rem;
			display: block;
			border: 0.01rem solid lightcoral ;
			color: lightcoral;
		}
		.zhu>ul>li:nth-child(5)>.xiaoji>p:nth-child(2){
			font-size: 0.4rem;
			color: lightcoral;
			margin-top: 0.1rem;
		}
		.zhu>ul>li:nth-child(6),.zhu>ul>li:nth-child(7){
			height: 0.6rem;
		}
		.zhu>ul>li:nth-child(6)>.ding {
			width: 50%;
			height: 100%;
			float: left;
			font-size: 0.3rem;
			color: lightgrey;
			text-align: left;
		}
		.zhu>ul>li:nth-child(6)>.kou {
			width: 50%;
			height: 100%;
			float: right;
			font-size: 0.3rem;
			color: lightgrey;
			text-align: right;
		}
		.zhu>ul>li:nth-child(7)>.can {
			width: 50%;
			height: 100%;
			float: left;
			font-size: 0.3rem;
			color: lightgrey;
			text-align: left;
		}
		.zhu>ul>li:nth-child(7)>.wei {
			width: 50%;
			height: 100%;
			float: right;
			font-size: 0.3rem;
			color: lightgrey;
			text-align: right;
		}
		









		.footer {
			width: 100%;
			height: 1.01rem;
			background-color: red;
			position: fixed;
			bottom: 0;
		}
		.footer>.manjian {
			background-color: rgb(255,255,205);
			text-align: center;
			height: 30%;
			width: 100%;
			font-size: 0.14rem;
			color: lightgray;
		}
		.footer>.gou {
			width: 100%;
			height: 70%;
			position: relative;
		}
		.footer>.gou>img {
			width: 1rem;
			height: 1rem;
			position: absolute;
			top: -0.3rem;
			left: 0.24rem;
		}
		.footer>.gou {
			font-size: 0.2rem;
			text-align: center;
			line-height: 0.7rem;
			background-color: darkslategrey;
			color: white;
		}
		.footer>.gou>div {
			width: 20%;
			height: 100%;
			float: right;
			background-color: lawngreen;
			color: white;
			line-height: 0.7rem;
		}