	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;	
	}
	.header {
		width: 100%;
		height: 0.88rem;
		padding: 0.24rem;
		display: flex;
		justify-content: space-between;
		background-image: linear-gradient(90deg, #4579ff 0%, #42fffd 100%);
		position: fixed;
		top: 0;
	}
	.header>div {
		margin-top: 0;
	}
	.header>div>a>img {
		width: 0.3rem;
		height: 0.4rem;
		float: left;
	}
	.header>p {
		font-size: 0.3rem;
		color: white;
	}
	.toplist {
		width: 100%;
		height: 0.5rem;
		overflow-x: auto;
		background-image: linear-gradient(90deg, #4579ff 0%, #42fffd 100%);
		position: fixed;
		top: 0.83rem;
	}
	.scroll {
		width: 11rem;
		height: 0.5rem;
		white-space: nowrap;
	}
	.scroll>div {
		display: inline-block;
		height: 0.5rem;
		margin-right: 0.4rem;
		float: left;
		text-align: center;
	}
	.scroll>div:first-child {
		margin-left: 0.24rem;
	}
	.scroll>div>a {
		font-size: 0.2rem;
		display: block;
		line-height: 0.35rem;
		text-decoration: none;
		color: white;
	}
	.scroll>div>a.hot {
		border-bottom: 1px solid white;
	}
	.tutu {
		width: 0.5rem;
		height: 0.5rem;
		position: absolute;
		top: 0rem;
		right: 0rem;
		background-color: red;
	}
	.tutu>img {
		display: block;
		width: 0.5rem;
		height: 0.2rem;
		margin-left: 40%;
		margin-top: 10%;
	}
	
	
	
	
	
	
	
	
	.catalog {
			width: 100%;
			padding-left: 0.24rem;
    		padding-right: 0.24rem;	
    		border-bottom: 1px solid rgba(0,0,0,0.05);
    		position: fixed;
    		top: 1.40rem;
    		background-color: white;
		}
	.catalog ul {
			list-style: none;
			width: 100%;
			height: 0.5rem;
			margin-top: 0.3rem;
			text-align: center;
		}
	.catalog>ul>li {
			width: 25%;
			height: 0.5rem;
			border-right: 1px solid rgba(0,0,0,0.05);
			float: left;
		}
		.catalog>ul>li:nth-child(4) {
			border: none;
		}
	.catalog>ul>li>a {
			display: block;
			text-decoration: none;
			color: #000000;
			font-size: 0.22rem;
		}
	.catalog>ul>li>a>img {
			width: 0.25rem;
			height: 0.15rem;
		}
	.tt{
		width: 100%;
		height: 0.2rem;
		background-color: rgb(244,244,244);	
		position: fixed;
		top: 1.22rem;
		}
	.shangjia>ul {
		width: 100%;
		height: 100%;
		list-style: none;
	}
	.shangjia>ul>li {
		width: 100%;
		height: 3.4rem;
		margin-top: 0.2rem;
		border-bottom: 1px solid rgba(0,0,0,0.05);
	}
	.shangjia {
		width: 100%;
		height: 3.4rem;
		padding-left: 0.24rem;
		padding-right: 0.24rem;
		padding-top: 2.5rem;
	}
	.zuo {
		width: 26%;
		height: 1.8rem;
		float: left;
		border: 1px solid rgba(0,0,0,0.05);
	}
	.zuo>img {
		width: 1.8rem;
		height: 1.8rem;
	}
	.you {
		width: 74%;
		height: 100%;
		float: right;
		padding: 0 0.24rem 0;
	}
	.mi>a {
		display: block;
		color: black;
		text-decoration: none;
		font-size: 0.3rem;
	}
	.xing {
		width: 100%;
		height: 0.35rem;
		margin-top: 0.3rem;
	}
	.xing>img {
		width: 1.5rem;
		height: 0.2rem;
		float: left;
		margin-right: 0.05rem;
		margin-top: 0.06rem;
	}
	.xing>span {
		font-size: 0.26rem;
		float: left;
	}
	.qisong {
		width: 100%;
		height: 0.5rem;
	}
	.qisong>div:first-child {
		font-size: 0.26rem;
		float: left;
	}
	.qisong>div:last-child {
		font-size: 0.26rem;
		float: right;
	}
	.manjian {
		width: 100%;
		height: 0.4rem;
		margin-top: 0.2rem;
	}
	.manjian>div {
		text-align: center;
		width: 100%;
		height: 0.4rem;
		float: left;
	}
	.manjian>div>a  {
		text-decoration: none;
		color: lightcoral;
		font-size: 0.24rem;
		display: block;
		width: 0.8rem;
		height: 0.4rem;
		line-height: 0.4rem;
		background-color: lightpink;
		margin-right: 0.05rem;
		float: left;
	}
	.manjian>div:last-child>p {
		font-size: 0.24rem;
		color: rgba(0,0,0,0.4);
		float: left;
	}
	.manjian>div:last-child>img {
		float: right;
		margin-top: 0.0875rem;
	}
	.zhekou {
		width: 100%;
		height: 0.4rem;
		margin-top: 0.2rem;
	}
	.zhekou>div {
		width: 100%;
		height: 0.4rem;
		text-align: center;
	}
	.zhekou>div>a  {
		text-decoration: none;
		color: lightsalmon;
		font-size: 0.24rem;
		display: block;
		width: 0.8rem;
		height: 0.4rem;
		line-height: 0.4rem;
		background-color: lightyellow;
		margin-right: 0.05rem;
		float: left;
	}
	.zhekou>div>p {
		font-size: 0.24rem;
		color: rgba(0,0,0,0.4);
		float: left;
		}
		


	.footer {
			width: 100%;
			height: 1.01rem;
			background-color: white;
			position: fixed;
			bottom: 0;
		}
		.footer>ul {
			width: 100%;
			height: 1.01rem;
			list-style: none;
			text-align: center;
		}
		.footer>ul>li {
			width: 25%;
			height: 1.01rem;
			float: left;
		}
		.footer>ul>li>a{
			display: block;
			text-decoration: none;
		}
		.footer>ul>li>a>img{
			width: 0.42rem;
			height: 0.61rem;
			margin-bottom: 0.175rem;
		}
