		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		.header {
			width: 100%;
			height: 1rem;
			padding-left: 0.24rem;
			padding-right: 0.24rem;
			padding-top: 0.24rem;
			position: relative;
		}
		.header > img {
			position: absolute;
			top: 0.35rem;
			left: 0.35rem;
		}
		.header>input {
			width: 80%;
			height: 100%;
			border: none;
			border-radius: 0.5rem;
			background-color: #eeeeee;
			float: left;
			text-indent: 0.8rem;
		}
		.header>div>a {
			display: block;
			font-size: 0.3rem;
			color: skyblue;
			text-align: center;
			line-height: 0.8rem;
			text-decoration: none;
		}
		.remen>.sousuo {
			margin-top: 0.24rem;
			padding-left: 0.24rem;
			font-size: 0.3rem;
			font-weight: bold;
		}
		.remen>.list {
			padding-left: 0.24rem;
		}
		.list>ul {
			width: 100%;
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.list>ul>li {
			margin-right: 0.24rem;
			margin-top: 0.24rem;
		}
		.list>ul>li>a{
			font-size: 0.26rem;
			color: #727272;
			text-decoration: none;
			display: block;
			background-color: #f5f5f5;
			padding: 0.1rem;
		}
		.list>ul>li:first-child>a {
			background-color: #e0f2ff;
		}
